.deps/
.libs/
Makefile
*Makefile.in
*.o
*.la
*.lo
*.substvars
*.debhelper
*.debhelper.log
build-stamp
install-stamp
/debian/files
/debian/tmp/
/debian/libnetfilter-conntrack-dev/
/debian/libnetfilter-conntrack3-dbg/
/debian/libnetfilter-conntrack3/
/aclocal.m4
/autom4te.cache/
/build-aux/
/config.*
/configure
/libtool
/doxygen.cfg
/*.pc
